/**
 * -----------------------------------------------------------------------
 *                              Color settings
 * -----------------------------------------------------------------------
 */

$c0: rgba(0, 0, 0, 0);
$c1: #ffffff;
$c2: #000000;
$c3: #021B33;
$c4: #062B4E;
$c5: #143e66;
$c6: #24527E;
$c7: #3F688F;
$c8: #4788c6;
$c9: #B5C9DD;
$c10: #D1D1D1;
$c11: #939393;
$c12: #575757;

$shadow: rgba($c2, 0.7);
