/**
 * -----------------------------------------------------------------------
 *                                Reset CSS:
 * -----------------------------------------------------------------------
 */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font: inherit;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: $c1;
  font-family: 'Comfortaa', sans-serif;
  line-height: 1;
  padding-top: 3rem;
}

ol,
ul {
  list-style: none;
}

a {
  cursor: auto;
  text-decoration: none;
  color: inherit;
}
