/**
 * -----------------------------------------------------------------------
 *                                  about
 * -----------------------------------------------------------------------
 */
.about {
  background-color: $c1;
  box-shadow: 0 0 35px 0 $shadow;

  .container.flex {
    padding: 1rem 1rem 3rem;

    h3 {
      padding-bottom: 2rem;
    }

    .text p {
      text-align: left;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      line-height: 1.5em;
    }

    .image.flex {
      // padding: 0 1rem 2rem 2rem;
      position: relative;

      img {
        box-shadow: 5px 6px 14px 0 rgba(106, 106, 106, 0.70);
        width: 60%;
      }
    }
  }
}
