/**
 * -----------------------------------------------------------------------
 *                           Global grid settings
 * -----------------------------------------------------------------------
 */
$cols: 12;
$width-base: (100%/$cols);
$small_screen: 460px;
$medium_screen: 850px;
$large_screen: 1920px;

body {
  background: $c5;
}

.container {
  position: relative;
  max-width: 80rem;
  height: 100%;
  margin: auto;
  text-align: center;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

[class*='col-'] {
  width: 100%;
  min-height: 1px;
}
@media only screen and (min-width: $small_screen) {}
@media only screen and (min-width: $medium_screen) {
   @for $i from 1 through $cols{
    .col-#{$i} {
      width: $width-base * $i;
    }
  }
}
@media only screen and (min-width: $large_screen) {}
/**
 * -----------------------------------------------------------------------
 *                         global sections settings
 * -----------------------------------------------------------------------
 */
.hidden {
  display: none;
}

.toFadeIn {
  opacity: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  padding: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  padding: 0 0 3rem;
  font-size: 1.4rem;
  font-style: italic;
}

h5 {
  font-size: 1.6rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}
@media only screen and (min-width: $small_screen) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 2.2rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: $medium_screen) {
  h6 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: $large_screen) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 1.7rem;
  }
}
