/**
 * -----------------------------------------------------------------------
 *                                  navbar
 * -----------------------------------------------------------------------
 */
.navbar {
  background-color: $c2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .container.flex {
    justify-content: flex-start;
    max-width: 80rem;
    color: $c1;
    font-size: 1.5rem;

    .title {
      width: 80%;
      font-weight: bold;
      text-align: left;
      padding: 0.7em 0.5em;
    }

    .nav {
      flex-grow: 1;

      &:hover {
        color: $c8;
      }

      a {
        padding: 0.5em 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $c2;
      }
    }

    .hamburger {
      position: relative;
      width: 15%;
      height: 100%;
      flex-grow: 1;
      padding: 1em;
      /*"Menu" designed by Freepik from Flaticon*/
      background-image: url('../dist/images/hamburger.svg');
      background-position: center;
      background-size: 1.6em 1.6em;
      background-repeat: no-repeat;

      a {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media only screen and (min-width: $medium_screen) {
  .navbar .container.flex {
    .title {
      width: 35%;
    }

    .nav {
      display: block;
    }

    .hamburger {
      flex-grow: 1;
      display: none;
    }
  }
}
