/**
 * -----------------------------------------------------------------------
 *                                  skills
 * -----------------------------------------------------------------------
 */
$numberOfSkills: 13;
$position: -0.3%, 8%, 16.5%, 24.7%, 33.1%, 41.2%, 50%, 58.4%, 66.8%, 74.9%, 83.5%, 91.7%, 100.2%;

.skills {
  color: $c1;

  .container.flex {
    padding: 3rem 1rem 6rem;

    .skill {
      position: relative;
      margin: 1rem;
      width: 6rem;
      height: 6rem;
      background-color: $c1;
      box-shadow: 0 0 35px 0 $shadow;

      &:hover {
        animation: shake 0.5s 0s 1 linear;
      }

      a {
        display: block;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
      }

      img:focus {
        animation: flip 5s 0s 1 linear;
      }
    }
    @for $i from 1 through $numberOfSkills {
      .skill:nth-child(#{$i+2}) {
        background-image: url("../dist/images/set_color.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: nth($position, $i);
      }
    }
  }
}
@keyframes shake {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    transform: translate(0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(3%, 0%);
    background-color: #ffffff;
  }
}
@keyframes flip {
  0% {}

  100% {
    transform: rotate(360deg);
  }
}
